@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700,900");


/*Remove outlines*/
body {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

/*Animation frames*/

/*Hiding stuff*/
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer{
  display: none !important;
}

yt-live-chat-mode-change-message-renderer, 
yt-live-chat-viewer-engagement-message-renderer, 
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}

yt-live-chat-poll-renderer {
  display: none !important;
}
yt-live-chat-banner-manager {
  display: none !important;
}
yt-live-chat-banner-header-renderer, yt-live-chat-banner-renderer {
  display: none !important;
}

yt-live-chat-item-list-renderer #items {
  overflow: hidden !important;
}

yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
  display: none !important;
}

yt-live-chat-text-message-renderer #author-badges {
  display: none !important;
  vertical-align: text-top !important;
}

yt-live-chat-text-message-renderer #timestamp {
  color: #fff !important;
  font-size: 16px !important;
  line-height: 16px !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
  text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background-color: transparent !important;
  box-shadow: none !important;
  transform: scale(1.5, 1.5);
  padding-left: 170px;
  padding-bottom:  10px;
  margin-top: 30px;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}

/*Fonts & Text stuffs*/
yt-live-chat-renderer {
  background-color: transparent !important;
}
yt-live-chat-renderer * {
  font-family: "M PLUS Rounded 1c", sans serif;
}
yt-live-chat-renderer #author-name {
  font-weight: 900 !important;
}
yt-live-chat-renderer #message {
  font-weight: 700 !important;
}

yt-live-chat-renderer yt-live-chat-text-message-renderer #content,
yt-live-chat-renderer yt-live-chat-text-message-renderer[is-highlighted] #content,
yt-live-chat-renderer yt-live-chat-paid-message-renderer #content,
yt-live-chat-renderer yt-live-chat-legacy-paid-message-renderer #content {
  overflow: visible !important;
}

/*General Setup*/
yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
  margin: 0 0 8px 0;
  padding: 0px 8px;
  display: flex;
  border-radius: 16px;
  white-space: sub;
}

yt-live-chat-text-message-renderer #content #author-name {
  color: #fff;
  -webkit-text-stroke: #000 1px;
  padding-left: 15px;
  font-size: 38px;
}
yt-live-chat-text-message-renderer #content #message::before{
  content: ":";
  color: #fff;
  -webkit-text-stroke: #000 1px;
  padding-left: 4px;
  padding-right: 8px;
  display: inline-block;
  position: relative;
  width: 20x;
  height: 35px;
  font-size: 30px;
}
yt-live-chat-text-message-renderer[tuthor-type=member] #content #message::before{
  content: ":";
  color: #10d220;
  -webkit-text-stroke: #000 1px;
  padding-left: 4px;
  padding-right: 8px;
  display: inline-block;
  position: relative;
  width: 20x;
  height: 35px;
  font-size: 30px;
}
yt-live-chat-text-message-renderer #content,
yt-live-chat-text-message-renderer[is-highlighted] #content {
  color: #fff !important; 
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}
yt-live-chat-text-message-renderer[author-type=owner],
yt-live-chat-text-message-renderer[is-highlighted][author-type=owner] {
  display: flex;
  background: none;
}
yt-live-chat-text-message-renderer #author-photo {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  transform: scale(1.4,1.4);
  top: 17px;
  position: relative;
}

yt-live-chat-text-message-renderer #content {
  font-size: 30px;
  line-height: 32px;
}
yt-live-chat-text-message-renderer #content  {
  font-size: 30px;
  line-height: 32px;
}

/*Message + Background*/
yt-live-chat-text-message-renderer[author-type = member] #content,
yt-live-chat-text-message-renderer[is-highlighted][author-type = member] #content{
  background-color: transparent;
  border-radius: 0px 10px 10px 0px !important;
}

yt-live-chat-text-message-renderer #content #message {
  color: #fff !important;
  -webkit-text-stroke: #000 0.75px;
}

/*Name + Animation*/
yt-live-chat-text-message-renderer[author-type = member] #content #author-name,
yt-live-chat-text-message-renderer[author-type = member][is-highlighted] #content #author-name{
  color: #10d220;
  -webkit-text-stroke: #000 0.5px;
}

/*Testing zone*/


/*Content frame & Text color*/
yt-live-chat-text-message-renderer[author-type=owner] #content,
yt-live-chat-text-message-renderer[is-highlighted][author-type=owner] #content {
  position: relative;
  margin: 4px 8px 0 8px;
  border-radius: 16px 16px 16px 16px;
}

yt-live-chat-text-message-renderer:not([author-type=owner]) #author-photo,
yt-live-chat-text-message-renderer[is-highlighted]:not([author-type=owner]) #author-photo {
  margin-right: 8px;
}
yt-live-chat-text-message-renderer:not([author-type=owner]) #content,
yt-live-chat-text-message-renderer[is-highlighted]:not([author-type=owner]) #content {
  position: relative;
  margin: 4px 8px 0 8px;
  border-radius: 16px 16px 16px 16px;
}

yt-live-chat-text-message-renderer[author-type=member] #content,
yt-live-chat-text-message-renderer[is-highlighted][author-type=member] #content {
  position: relative;
  margin: 4px 8px 0 8px;
  border-radius: 16px 16px 16px 16px;
}
yt-live-chat-text-message-renderer[author-type=moderator] #content,
yt-live-chat-text-message-renderer[is-highlighted][author-type=moderator] #content {
  position: relative;
  margin: 4px 8px 0 8px;
  border-radius: 16px 16px 16px 16px;
}



yt-live-chat-author-chip.yt-live-chat-membership-item-renderer #chat-badges{
  display: none !important;  
}

/*Badge*/
yt-live-chat-author-badge-renderer[type="member"]:not([type="author"]){
  background: transparent;
  right: -50px;
  z-index: 99;
  transform: scale(1.8,1.8);
  padding: 10px;
}

yt-live-chat-author-badge-renderer[type="moderator"] {
display: none !important;
}

#message.yt-live-chat-text-message-renderer .emoji.yt-live-chat-text-message-renderer {
  height: 30px;
  width: 30px;
}
